*{
    margin: 0;
    padding: 0;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    position: relative;
    
}
.menu::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: gray;
    width: 100%;
    height: 50%;
    
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 10px;
    z-index: 1;
}
.container{
    margin-top: 30px;
    display: flex;
    
}
.number{
    margin-right: 20px;
    font-size: 3rem;
}
.wrapper{
}
.link{
    display: block;
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.image{
    max-width: 100%;
    height: 300px;
    object-fit: cover;
}
