@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0 auto;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 5vh;
    text-decoration: line-through;
}