*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    font-family: 'Saira Condensed', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    position: relative;
    background-color: #29a6dc;
    text-transform: uppercase;
    color: #fff;
    padding: 100px 0;
}
.header h2{
    font-size: 7.5rem;
    font-weight: bold;
}
.header h1{
    font-size: 3.75rem;
    font-weight: bold;
}
.header h3{
    font-size: 3.75rem;
    font-weight: normal;
}
.header button{
    height: 90px;
    border: 1px solid #fff;
    font-size: 2.25rem;
    font-weight: lighter;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    padding: 0 50px;
    text-transform: uppercase;
    margin-top: 50px;
    transition: 0.5s;
}
.header button:hover{
    background-color: #fff;
    color: #111;
}
.header img{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 650px;
}

.projects{
    background-color: #1e1e1e;
    padding: 50px 0;
}

.projects h2{
    font-size: 3.75rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.item-proj{
    display: flex;
    margin-top: 40px;
}
.img-proj{
    flex-basis: 50%;
}

.img-proj img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-proj{
    flex-basis: 50%;
    background-color: #ff4f2c;
    padding-right: 60px;
}

.content-proj h4{
    font-size: 2.25rem;
    color: #fff;
    text-transform: uppercase;
    padding: 80px 0 20px 60px;
}
.content-proj span{
    background-color: #fff;
    display: block;
    height: 1px;
}

.content-proj p{
    font-size: 1.3125rem;
    color: #fff;
    padding: 50px 0 80px 60px;
}
/* Change every second item-proj */
.item-proj:nth-of-type(even){
    flex-direction: row-reverse;
}
.item-proj:nth-of-type(even) .content-proj{
    background-color: #0170ba;
    padding-right: 0px;
    padding-left: 60px;
}
.img-proj{
    height: 300px;
}
.item-proj:nth-of-type(even) .content-proj p{
    padding: 50px 60px 80px 0px;
}
.item-proj:nth-of-type(even) .content-proj h4{
    
    padding: 80px 60px 20px 0;
}
/* ************** */
.footer{
    background-color: #29a6dc;
    padding: 20px 0;
    text-align: center;
}


@media(max-width: 600px)
{
    .container{
        max-width: 100%;
        margin: 0;
    }
    .header{
        text-align: center;
        padding-bottom: 0;
    }
    .header h2{
        font-size: 2.5rem;
    }
    .header h1{
        font-size: 1.25rem;
    }
    .header h3{
        font-size: 1.25rem;
    }
    .header button{
        height: 32px;
        font-size: 0.75rem;
    }
    .header img{
        position: relative;
        width: 80%;
        height: auto;
        padding-top: 50px;
    }
    .header .img-wrap{
        display: flex;
        justify-content: flex-end;
    }
}
.www{
    padding-top: 50px;
    padding-bottom: 80px;
}
.www h2{
    font-size: 3.75rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
}
.www .www-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.www-item{
    flex-basis: 30%;
    text-align: center;
}
.www .www-items img{
    width: 90%;
    height: auto;
    object-fit: cover;
}
.www .www-item h4{
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
}
.www .www-item p{
    font-size: 1.3125rem;
    font-weight: lighter;
}
@media(max-width: 600px)
{
    .www h2{
        font-size: 1.5rem;
    }
    .www-item{
        flex-basis: 100%;
        padding: 0 20px;
        margin-bottom: 50px;
    }
    .www .www-item h4{
        font-size: 1.125rem;
    }
    .www .www-item p{
        font-size: .75rem;        
    }
    .www .www-items img{
        width: 200px;
    }
    .item-proj{
        display: block;
        margin-top: 40px;
        
    }

    .item-proj:nth-of-type(even) .content-proj{
        padding-right: 60px;
        padding-left: 0px;
    }
    .item-proj:nth-of-type(even) .content-proj p{
        padding: 50px 0 80px 60px;
    }
    .item-proj:nth-of-type(even) .content-proj h4{
        
        padding: 80px 0px 20px 60px;
    }
    .content-proj p{
        font-size: 0.75rem;
    }
    .content-proj h4{
        font-size: 1.25rem;
    }
    .projects h2{
        font-size: 1.5rem;
    }
    
    
}